body {
    background: #000000;
    margin: 0px;
    overflow: hidden;
    user-select: none;
}

.ContentSource {
    display: none;
}

.PresentationBackgroundsContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -0%;
    top: -0%;
    overflow: hidden;
    opacity: 1;
}

.PresentationPagesContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -0%;
    top: -0%;
    overflow: hidden;
    opacity: 1;
}

.PageBackground {
    background: url("../assets/images/DarkNetwork.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #323436;
    opacity: 0.5;
    position: absolute;
    transition: all 1.0s ease-in-out;
}

.DDDPageBackground {
    background-color: #f3ebe0;
    opacity: 1;
    position: absolute;
    transition: all 1.0s ease-in-out;
}

.TestTransformer1 {
    transform: scale(0.5);
}

.TestTransformer2 {
    transform: rotate(20deg);
}

.PageTitle {
    color: #ffffff;
    padding: 5vmin 0vmin 0vmin 0vmin;
    font-size: 8vmin;
    text-align: center;
    font-family: "Alpha Echo";
}

.PageContents {
    color: #ffffff;
    font-size: 4vmin;
    padding: 0vmin 8vmin 0vmin 8vmin;
    font-family: "Nunito";
    line-height: normal;
    margin: 1.6vmin 0vmin 1.6vmin 0vmin;
    height: 100vh;
    width: 90vw;
}

.PageContents.VerticalCentreFlex {
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PageContents.Dense {
    line-height: 1.3;
}

.PageContents.Denser {
    line-height: 1.25;
}

.PageContents.Densest {
    line-height: 1.2;
}



/* Extra Large (full size) fonts */
p,
P.XL {
    font-size: 4vmin;
    margin: 1.6vmin 0vmin 1.6vmin 0vmin;
}

p.Indent0,
P.XL.Indent0 {
    font-size: 4vmin;
    padding-left: 0vmin;
}

p.Indent1,
P.XL.Indent1 {
    font-size: 4vmin;
    padding-left: 8vmin;
}

p.Indent2,
P.XL.Indent2 {
    font-size: 4vmin;
    padding-left: 16vmin;
}

p.Indent3,
P.XL.Indent3 {
    font-size: 4vmin;
    padding-left: 24vmin;
}

ol,
ol.XL,
ul,
ul.XL {
    font-size: 4vmin;
    margin-block: 1.6vmin 1.6vmin;
}

ol,
ol.Indent0,
ol.XL.Indent0,
ul,
ul.Indent0,
ul.XL.Indent0 {
    padding-inline-start: 6.4vmin;
}

ol.Indent1,
ol.XL.Indent1,
ul.Indent1,
ul.XL.Indent1 {
    padding-inline-start: 14.4vmin;
}

ol.Indent2,
ol.XL.Indent2,
ul.Indent2,
ul.XL.Indent2 {
    padding-inline-start: 22.4vmin;
}

ol > li,
ol.XL > li,
ul > li,
ul.XL > li {
    padding-left: 1.6vmin;
}

/* Large fonts */
P.L {
    font-size: 3.5vmin;
    margin: 1.4vmin 0vmin 1.4vmin 0vmin;
}

P.L.Indent0 {
    font-size: 3.5vmin;
    padding-left: 0vmin;
}

P.L.Indent1 {
    font-size: 3.5vmin;
    padding-left: 7vmin;
}

P.L.Indent2 {
    font-size: 3.5vmin;
    padding-left: 14vmin;
}

P.L.Indent3 {
    font-size: 3.5vmin;
    padding-left: 21vmin;
}

ol.L,
ul.L {
    font-size: 3.5vmin;
    margin-block: 1.4vmin 1.4vmin;
}

ol.L,
ol.L.Indent0,
ul.L,
ul.L.Indent0 {
    padding-inline-start: 5.6vmin;
}

ol.L.Indent1,
ul.L.Indent1 {
    padding-inline-start: 12.6vmin;
}

ol.L.Indent2,
ul.L.Indent2 {
    padding-inline-start: 19.6vmin;
}

ol.L > li,
ul.L > li {
    padding-left: 1.4vmin;
}

/* Medium fonts */
P.M {
    font-size: 3vmin;
    margin: 1.2vmin 0vmin 1.2vmin 0vmin;
}

P.M.Indent0 {
    font-size: 3vmin;
    padding-left: 0vmin;
}

P.M.Indent1 {
    font-size: 3vmin;
    padding-left: 6vmin;
}

P.M.Indent2 {
    font-size: 3vmin;
    padding-left: 12vmin;
}

P.M.Indent3 {
    font-size: 3vmin;
    padding-left: 18vmin;
}

ol.M,
ul.M {
    font-size: 3vmin;
    margin-block: 1.2vmin 1.2vmin;
}

ol.M,
ol.M.Indent0,
ul.M,
ul.M.Indent0 {
    padding-inline-start: 4.8vmin;
}

ol.M.Indent1,
ul.M.Indent1 {
    padding-inline-start: 10.8vmin;
}

ol.M.Indent2,
ul.M.Indent2 {
    padding-inline-start: 16.8vmin;
}

ol.M > li,
ul.M > li {
    padding-left: 1.2vmin;
}

/* Small fonts */
P.S {
    font-size: 2.5vmin;
    margin: 1vmin 0vmin 1vmin 0vmin;
}

P.S.Indent0 {
    font-size: 2.5vmin;
    padding-left: 0vmin;
}

P.S.Indent1 {
    font-size: 2.5vmin;
    padding-left: 5vmin;
}

P.S.Indent2 {
    font-size: 2.5vmin;
    padding-left: 10vmin;
}

P.S.Indent3 {
    font-size: 2.5vmin;
    padding-left: 15vmin;
}

ol.S,
ul.S {
    font-size: 2.5vmin;
    margin-block: 1vmin 1vmin;
}

ol.S,
ol.S.Indent0,
ul.S,
ul.S.Indent0 {
    padding-inline-start: 4vmin;
}

ol.S.Indent1,
ul.S.Indent1 {
    padding-inline-start: 9vmin;
}

ol.S.Indent2,
ul.S.Indent2 {
    padding-inline-start: 14vmin;
}

ol.S > li,
ul.S > li {
    padding-left: 1vmin;
}

/* Extra Small fonts */
P.XS {
    font-size: 2vmin;
    margin: 0.8vmin 0vmin 0.8vmin 0vmin;
}

P.XS.Indent0 {
    font-size: 2vmin;
    padding-left: 0vmin;
}

P.XS.Indent1 {
    font-size: 2vmin;
    padding-left: 4vmin;
}

P.XS.Indent2 {
    font-size: 2vmin;
    padding-left: 8vmin;
}

P.XS.Indent3 {
    font-size: 2vmin;
    padding-left: 12vmin;
}

ol.XS,
ul.XS {
    font-size: 2vmin;
    margin-block: 0.8vmin 0.8vmin;
}

ol.XS,
ol.XS.Indent0,
ul.XS,
ul.XS.Indent0 {
    padding-inline-start: 3.2vmin;
}

ol.XS.Indent1,
ul.XS.Indent1 {
    padding-inline-start: 7.2vmin;
}

ol.XS.Indent2,
ul.XS.Indent2 {
    padding-inline-start: 11.2vmin;
}

ol.XS > li,
ul.XS > li {
    padding-left: 0.8vmin;
}

/* XXS (smallest) fonts */
P.XXS {
    font-size: 1.5vmin;
    margin: 0.6vmin 0vmin 0.6vmin 0vmin;
}

P.XXS.Indent0 {
    font-size: 1.5vmin;
    padding-left: 0vmin;
}

P.XXS.Indent1 {
    font-size: 1.5vmin;
    padding-left: 3vmin;
}

P.XXS.Indent2 {
    font-size: 1.5vmin;
    padding-left: 6vmin;
}

P.XXS.Indent3 {
    font-size: 1.5vmin;
    padding-left: 9vmin;
}

ol.XXS,
ul.XXS {
    font-size: 1.5vmin;
    margin-block: 0.6vmin 0.6vmin;
}

ol.XXS,
ol.XXS.Indent0,
ul.XXS,
ul.XXS.Indent0 {
    padding-inline-start: 2.4vmin;
}

ol.XXS.Indent1,
ul.XXS.Indent1 {
    padding-inline-start: 5.4vmin;
}

ol.XXS.Indent2,
ul.XXS.Indent2 {
    padding-inline-start: 8.4vmin;
}

ol.XXS > li,
ul.XXS > li {
    padding-left: 0.6vmin;
}

/* List Markers */
li.Tick, 
li.Cross {
    list-style: none;
    position: relative;
}

li.Tick::before,
li.Cross::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
}

li.Tick::before {
    background-image: url("../assets/svg/tick.svg");
    filter: brightness(0) saturate(100%) invert(58%) sepia(87%) saturate(315%) hue-rotate(120deg) brightness(92%) contrast(95%);
}

li.Cross::before {
    background-image: url("../assets/svg/cross.svg");
    filter: brightness(0) saturate(100%) invert(32%) sepia(91%) saturate(1216%) hue-rotate(325deg) brightness(97%) contrast(87%);
}

ul li.Tick::before,
ul li.Cross::before,
ul.XL li.Tick::before,
ul.XL li.Cross::before {
    left: -3.9vmin;
    top: 1.35vmin;
    height: 2.8vmin;
}

ul.L li.Tick::before,
ul.L li.Cross::before {
    left: -3.45vmin;
    top: 1.225vmin;
    height: 2.45vmin;
}

ul.M li.Tick::before,
ul.M li.Cross::before {
    left: -3vmin;
    top: 1.1vmin;
    height: 2.1vmin;
}

ul.S li.Tick::before,
ul.S li.Cross::before {
    left: -2.6vmin;
    top: 0.85vmin;
    height: 1.75vmin;
}

ul.XS li.Tick::before,
ul.XS li.Cross::before {
    left: -2.2vmin;
    top: 0.7vmin;
    height: 1.4vmin;
}

ul.XXS li.Tick::before,
ul.XXS li.Cross::before {
    left: -1.75vmin;
    top: 0.5vmin;
    height: 1.05vmin;
}

/* Content Colours & Fonts */
p.Green,
ul.Green,
li.Green,
span.Green {
    color: #32bea6;
}

p.Blue,
ul.Blue,
li.Blue,
span.Blue {
    color: #238ddd;
}

p.Red,
ul.Red,
li.Red,
span.Red {
    color: #e74856;
}

p.Ice,
ul.Ice,
li.Ice,
span.Ice {
    color: #9cdcfe;
}

p.Code,
ul.Code,
li.Code,
span.Code {
    font-family: Consolas;
}



.Fadeable {
    transition: all 0.5s ease-in-out;
    transition-behavior: allow-discrete;
}

.Fadeable.Show {
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

.Fadeable.Hide {
    display: none;
    opacity: 0;
}

.PresentationButton {
    align-self: self-end;
    display: flex;
    flex-direction: row;
    width: 30vmin;
    height: 4vmin;
    padding: 1vmin;
    justify-content: center;
    align-items: center;
    border-radius: 1vmin;
    font-weight: 600;
    font-size: 2.5vmin;
    color: #111111;
    transition: opacity 1s ease;
    opacity: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.PresentationButton.Filled {
    background: #42a768; 
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
}

.PresentationButton.Filled:hover:not(.Disabled) {
    background: #368d57; 
}

.PresentationButton.Filled:active:not(.Disabled) {
    background: #2c7749; 
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

.PresentationButton.Show {
    opacity: 1;
}

.PresentationButton.Disabled {
    opacity: 0.5;
    box-shadow: none;
}

.DiagramContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    height: 90vmin;
}

.Diagram {
    width: 80vmin;
    height: 80vmin;
    position: relative;
}

.DiagramFont {
    font-family: "Alpha Echo";
    white-space: nowrap;
    text-align: center;
}

.SolveIcon {
    position: absolute;
    bottom: 2vmin;
    left: 2vmin;
    width: 4vmin;
    height: 4vmin;
    background-image: url("../assets/svg/puzzle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(393%) hue-rotate(228deg) brightness(108%) contrast(102%);
    transition-behavior: allow-discrete;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    opacity: 0.7;
}

.SolveIcon.Hide {
    display: none;
    opacity: 0;

}

.OverlayIndicator {
    position: absolute;
    bottom: 2vmin;
    right: 2vmin;
    width: 4vmin;
    height: 4vmin;
    background-image: url("../assets/svg/about.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(393%) hue-rotate(228deg) brightness(108%) contrast(102%);
    opacity: 0.7;
}

.DemoPage {
    display: flex;
    flex-direction: column;
    gap: 10vmin;
    justify-content: center;
}

.DemoPage .Section {
    display: flex;
    flex-direction: row;
    gap: 10vmin;    
}

.DDDLogo {
    flex: 1 1 auto;
    margin: 15vmin 0vmin 0vmin 3vmin;
    width: 100%;
    max-width: 100%;
    background-image: url("../assets/svg/DDD.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.DDDSocialsText {
    font-family: "Segoe UI";
    font-weight: 600;
    color: #3E5668;
    font-size: 4vmin;
    margin: 2vmin 0vmin 13vmin 0vmin;
}

.DDDGoldSponsorsSection {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.DDDTeir2SponsorsSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 5vmin;
    margin-top: 3vmin;
}

.DDDSASponsorsSection {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.DDDSilverSponsorsSection {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.DDDSupportingSponsorsSection {
    display: flex;
    flex-direction: column;
    margin-top: 3vmin;
}

.DDDGoldSponsorsTitleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vmin;
}

.DDDGoldSponsorsTitleLine {
    border-top:1px solid #1BA5A6;
    width: 15vmin;
    height: 1px;
    flex: 1 1 auto;
}

.DDDGoldSponsorsTitle {
    color:#1BA5A6;
    font-family: "Segoe UI";
    font-weight: 700;
    font-size: 5.3333vmin;
    flex: 0 0 auto;
}

.DDDGoldSponsors {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9vmin;
    height: 15vmin;
}

.DDDGoldSponsorLogo {
    height: 100%;
    width: 30vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.DDDSASponsorsTitleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vmin;
}

.DDDSASponsorsTitleLine {
    border-top:1px solid #1BA5A6;
    width: 15vmin;
    height: 1px;
    flex: 1 1 auto;
}

.DDDSASponsorsTitle {
    color:#1BA5A6;
    font-family: "Segoe UI";
    font-weight: 700;
    font-size: 3.6vmin;
    flex: 0 0 auto;
}

.DDDSASponsors {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vmin;
    height: 12vmin;
    justify-content: center;
}

.DDDSASponsorLogo {
    height: 100%;
    width: 15vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.DDDSilverSponsorsTitleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vmin;
}

.DDDSilverSponsorsTitleLine {
    border-top:1px solid #1BA5A6;
    width: 15vmin;
    height: 1px;
    flex: 1 1 auto;
}

.DDDSilverSponsorsTitle {
    color:#1BA5A6;
    font-family: "Segoe UI";
    font-weight: 700;
    font-size: 3.6vmin;
    flex: 0 0 auto;
}

.DDDSilverSponsors {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8vmin;
    height: 12vmin;
    justify-content: center;
}

.DDDSilverSponsorLogo {
    height: 100%;
    width: 23vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.DDDSupportingSponsorsTitleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vmin;
}

.DDDSupportingSponsorsTitleLine {
    border-top:1px solid #1BA5A6;
    width: 15vmin;
    height: 1px;
    flex: 1 1 auto;
}

.DDDSupportingSponsorsTitle {
    color:#1BA5A6;
    font-family: "Segoe UI";
    font-weight: 700;
    font-size: 3.6vmin;
    flex: 0 0 auto;
}

.DDDSupportingSponsors {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12vmin;
    height: 12vmin;
    justify-content: center;
}

.DDDSupportingSponsorLogo {
    height: 100%;
    width: 16vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.UoALogo {
    background-image: url("../assets/svg/UoA.svg");
}

.RAALogo {
    background-image: url("../assets/svg/RAA.svg");
    max-height: 75%;
}

.OctopusDeployLogo {
    background-image: url("../assets/svg/OctopusDeploy.svg");
}

.MaxmineLogo {
    background-image: url("../assets/svg/Maxmine.svg");
}

.OzRunwaysLogo {
    background-image: url("../assets/svg/OzRunways.svg");
}

.TiimelyLogo {
    background-image: url("../assets/images/Tiimely.jpg");
    max-height: 75%;
    width: 12vmin;
}

.QuoteRiteLogo {
    background-image: url("../assets/svg/QuoteRite.svg");
}

.AligentLogo {
    background-image: url("../assets/images/Aligent.png");
}

.RDSLogo {
    background-image: url("../assets/svg/RDS.svg");
}

.TaptuLogo {
    background-image: url("../assets/svg/Taptu.svg");
}

.SixPivotLogo {
    background-image: url("../assets/svg/SixPivot.svg");
}

.IntopiaLogo {
    background-image: url("../assets/svg/Intopia.svg");
}

.EncodeTalentLogo {
    background-image: url("../assets/svg/EncodeTalent.svg");
    width: 14vmin;
}

.MantelGroupLogo {
    background-image: url("../assets/svg/MantelGroup.svg");
}