.TestBackgroundContent {
    background: url("../assets/TaptuBrand.svg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
    transition: all 1.0s ease-in-out;
}

.TestTransformer1 {
    transform: scale(0.5);
}

.TestTransformer2 {
    transform: rotate(20deg);
}