cc-background {
    display: contents;
}

.CCBackgroundRoot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -0%;
    top: -0%;
    overflow: hidden;
    opacity: 1;
}

.CCBackgroundRoot.WithFadeIn {
    @starting-style {
        opacity: 0;
    }
}

.CCBackgroundRoot.WithFadeOut {
    opacity: 0;
}

.CCBackgroundRoot.EnterFromLeft {
    @starting-style {
        left: -100%;
    }
}

.CCBackgroundRoot.EnterFromRight {
    @starting-style {
        left: 100%;
    }
}

.CCBackgroundRoot.EnterFromTop {
    @starting-style {
        top: -100%;
    }
}

.CCBackgroundRoot.EnterFromBottom {
    @starting-style {
        top: 100%;
    }
}

.CCBackgroundRoot.ExitToLeft {
    left: -100%;
}

.CCBackgroundRoot.ExitToRight {
    left: 100%;
}

.CCBackgroundRoot.ExitToTop {
    top: -100%;
}

.CCBackgroundRoot.ExitToBotton {
    top: 100%;
}

.CCBackgroundRoot.Hide {
    display: none;
}

.CCBackgroundTransformerDefault {
    width: 100%;
    height: 100%;
    position: relative;
}

.CCBackgroundContent {
    background: url("../../assets/TaptuBrand.svg");
    background-size: 100% auto;
    background-position: center;
    width: 400%;
    height: 200%;
    position: relative;
}