cc-background {
    display: contents;
}

.CCBackgroundRoot {
    width: 100%;
    height: 100%;
    position: relative;
    left: -0%;
    top: -0%;
    overflow: hidden;
}

.CCBackgroundRoot.Hide {
    display: none;
}

.CCBackgroundTransformerDefault {
    width: 100%;
    height: 100%;
    position: relative;
}

.CCBackgroundContent {
    background: url("../../assets/TaptuBrand.svg");
    background-size: 100% auto;
    background-position: center;
    width: 400%;
    height: 200%;
    position: absolute;
}