cc-page {
    display: contents;
}

.CCPageRoot, 
.CCPageOverlay, 
.CCPagePrimary {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -0%;
    top: -0%;
    overflow: hidden;
    opacity: 1;
    transition-behavior: allow-discrete;
}

.CCPageOverlay {
    backdrop-filter: blur(40px);
}

.CCPageRoot .OverlayIndicator {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    list-style: none;
}

.CCPageRoot.Hide, 
.CCPageOverlay.Hide,
.CCPagePrimary.Hide {
    display: none;
}

.CCPageRoot.WithFadeIn {
    @starting-style {
        opacity: 0;
    }
}

.CCPageRoot.WithFadeOut {
    opacity: 0;
}

.CCPageRoot.EnterFromLeft {
    @starting-style {
        left: -100%;
    }
}

.CCPageRoot.EnterFromRight {
    @starting-style {
        left: 100%;
    }
}

.CCPageRoot.EnterFromTop,
.CCPageOverlay.EnterFromTop,
.CCPagePrimary.EnterFromTop {
    @starting-style {
        top: -100%;
    }
}

.CCPageRoot.EnterFromBottom, 
.CCPageOverlay.EnterFromBottom, 
.CCPagePrimary.EnterFromBottom {
    @starting-style {
        top: 100%;
    }
}

.CCPageRoot.ExitToLeft {
    left: -100%;
}

.CCPageRoot.ExitToRight {
    left: 100%;
}

.CCPageRoot.ExitToTop,
.CCPageOverlay.ExitToTop,
.CCPagePrimary.ExitToTop {
    top: -100%;
}

.CCPageRoot.ExitToBottom, 
.CCPageOverlay.ExitToBottom, 
.CCPagePrimary.ExitToBottom {
    top: 100%;
}

.CCPageTransformer {
    width: 100%;
    height: 100%;
    position: relative;
}

.CCPageTransformer.WithZoomInEntry {
    @starting-style {
        transform: scale(0.1, 0.1);
    }
}

.CCPageTransformer.WithZoomOutEntry {
    @starting-style {
        transform: scale(10, 10);
    }
}

.CCPageTransformer.WithZoomInExit {
    transform: scale(10, 10);
}

.CCPageTransformer.WithZoomOutExit {
    transform: scale(0.1, 0.1);
}

