cc-presentation {
    display: contents;
}

.CCPresentationRoot {
    width: 100%;
    height: 100%;
}

.CCPresentationBackgroundsContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.CCPresentationPagesContainer {
    width: 100%;
    height: 100%;
    position: relative;
}