cc-slidedeck {
    display: contents;
}

.CCSlideDeckRoot {
    width: 100%;
    height: 100%;
}

.CCSlideDeckBackgrounds {
    width: 100%;
    height: 100%;
    position: relative;
}

.CCSlideDeckContentLayers {
    width: 100%;
    height: 100%;
    position: relative;
}